.employee-layout{
  display:flex;

  min-height:100vh;

  overflow:hidden;
}

/* =========================
   EMPLOYEE MAIN CONTENT
========================= */

.employee-main-content{
  flex:1;

  margin-left:280px;

  min-height:100vh;

  overflow-x:hidden;

  transition:0.3s ease;
}

/* =========================
   EMPLOYEE PAGE CONTENT
========================= */

.employee-page-content{
  width:100%;

  min-height:100vh;

  padding:95px 30px 30px;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:992px){

  .employee-main-content{
    margin-left:90px;
  }

}

@media(max-width:768px){

  .employee-page-content{
    padding:90px 20px 20px;
  }

}

@media(max-width:576px){

  .employee-page-content{
    padding:85px 15px 15px;
  }

}